
#main {
  color: white;
  background-color:#0BB5FF;
}

input,button{
  color: black;
  font-size: 1.25em;
}

section#results-timeline {
  overflow-y: scroll;
  height:500px;
}

/* 
.tooltip{
  color: black;
} */